:root {
  --rich-black: rgb(11, 14, 20);
  --space-cadet: rgb(20, 35, 66);
  --oxford-blue: rgb(11, 21, 40);
  --charcoal: rgb(23, 35, 59);
  --delft-blue: rgb(36, 53, 88);
  --mas-blue: rgb(58, 75, 111);
  --cool-grey: rgb(145, 160, 190);
  --lavender: rgb(222, 228, 241);
  --alice-blue: rgb(231, 235, 243);
  --harvest-gold: rgb(231, 166, 13);
  --saffron: rgb(244, 188, 58);

  --m5: 3.12rem;
  --m4: 2.62rem;
  --m3: 2.12rem;
  --m2: 1.75rem;
  --m1: 1.5rem;
  --m0: 1.25rem;
  --m-1: 1rem;
  --m-2: 0.88rem;
  --m-3: 0.7rem;

  --p5: 5rem;
  --p4: 3rem;
  --p3: 2rem;
  --p2: 1.5rem;
  --p1: 1rem;
  --p0: 0.75rem;
  --p-1: 0.5rem;
  --p-2: 0.25rem;



}

/* semantic color variables for this project */
:root {
  --color-background: var(--space-cadet);
  --color-background-mute: var(--charcoal);
  --color-background-dark: var(--oxford-blue);

  --color-accent: var(--saffron);
  --color-accent-light: var(--mas-blue);
  --color-text: var(--rich-black);
  --color-text-dark: var(--alice-blue);

  --color-button-light: var(--lavender);
  --color-primary: var(--cool-grey);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 16px;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
