@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text-dark);
  margin: auto;
  flex-direction: column;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 0.10rem;
}

.heading {
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.copy {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h2 {
  font-weight: bold;
  font-size: 2em;
  color: var(--color-accent);
}
