@import './base.scss';

#app {
  width: 100vw;
  height: 100vh;
  color: var(--color-text-dark);
  margin: auto;
  flex-direction: column;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 0.1rem;
}

.heading {
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.copy {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h2 {
  font-weight: bold;
  font-size: var(--m3);
  color: var(--color-accent);
}
