/* semantic color variables for this project */
:root {
  --color-background: #{$space-cadet};
  --color-background-mute: #{$charcoal};
  --color-background-dark: #{$oxford-blue};

  --color-accent: #{$saffron};
  --color-accent-light: #{$mas-blue};
  --color-text: #{$rich-black};
  --color-text-dark: #{$alice-blue};

  --color-button-light: #{$lavender};
  --color-primary: #{$cool-grey};

}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 16px;
  position: relative;
}

body {
  margin:0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

p {
  font-size: $m-1;
  
  @media only screen and (max-width: 1024px) {
    font-size: $m-2;
  }
}

#app {
  position: fixed;
  width: 100%;
  height: 100%;
  color: var(--color-text-dark);
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 0.1rem;
}

.heading {
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.copy {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h2 {
  font-weight: bold;
  font-size: $m3;
  color: var(--color-accent);
}
